<!doctype html>
<html>

<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/4e7f0c2d65.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav>
        <a href="#">
            <img class="logo" src="/img/gardnergramlogo.jpeg" alt="logo">
        </a>
        <input type="text" class="search" placeholder="Search">
        <span class="nav-links">
            <a href="#"><i class="fas fa-home"></i></a>
            <a href="#"><i class="far fa-comment-alt"></i></a>
            <a href="#"><i class="far fa-compass"></i></a>
            <a href="#"><i class="far fa-heart"></i></a>
        </span>
    </nav>
    <div class="containerOne">
        <section class="bio">
            <div class="profile-photo">
                <img src="/img/ciaraprofilepic.jpeg" alt="profile-photo">
            </div>
            <div class="profile-info">
                <p class="username">ciaraseymone</p>
                <button>follow</button>
            </div>
        </section>
        <div class="gallery-nav"></div>
        <section class="gallery">
            <a href="#" class="item">
                <img src="/img/makeup.jpg" alt="">
            </a>
            <a href="#" class="item">
                <img src="/img/makeupone.jpg" alt="">
            </a>
            <a href="#" class="item">
                <img src="/img/fashion.jpg" alt="">
            </a>
            <a href="#" class="item">
                <img src="" alt="">
            </a>
            <a href="#" class="item">
                <img src="" alt="">
            </a>
            <a href="#" class="item">
                <img src="" alt="">
            </a>
        </section>
    </div>
    <div class="container">

        <!-- <div class="jumbotron text-center">
            <h1>Gardner Gram</h1>
            <img src="img/ig.png" alt="Gardner Gram Photo"> -->

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

    </div>
</body>

</html>